@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.experience-page {
    background-color: #88BDBC;
    background-image: linear-gradient(to bottom, #254E58, #88BDBC 60%, #254E58);
    font-family: 'Merriweather', serif;
}

.experience-page-title {
    color: #eefceb;
    font-weight: bold;
}

.experience-page-card.card {
    border: 2px solid #112D32;
    border-radius: 5px;
    color: #eefceb;
}

.experience-page-card .experience-page-card-header {
    background-color: #4f4a41;    
}

.experience-page-card-title.h5{
    font-weight: 600;
    font-style: italic;
}

.experience-page-card .experience-page-card-body {
    background-color: #6e6658;
}