@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navigation-bar {    
    background-color: #254E58;
    border-bottom: 1px solid transparent;    
}

.navigation-bar-logo {    
    margin-left: 10%;    
}

.logo {    
    font-family: 'Pacifico', cursive;
    color: #eefceb;
    font-size: 30px;
    margin: 0;
}

.nav-link.active {
    background-color: transparent;
    border: 1px solid #eefceb;
    border-radius: 5px;
}

.nav-link.active a:hover {
    color: #eefceb;
}

.navtop-link a {
    color: #eefceb;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
}

.navtop-link a:hover {
    color: #112D32;
    text-decoration: none;
}

.resume {
    padding-top: 7px;
}