@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.projects-page {
    background-color: #88BDBC;
    background-image: linear-gradient(to bottom, #254E58, #88BDBC 60%, #254E58);
    font-family: 'Merriweather', serif;
}

.projects-page-title {
    color: #eefceb;
    font-weight: bold;
}

.projects-page-card.card {
    border: 2px solid #112D32;
    border-radius: 5px;
    color: #eefceb;
}

.projects-page-card .projects-page-card-header {
    background-color: #4f4a41;    
}

.projects-page-card-title {
    font-weight: 600;
    font-style: italic;
    color: #eefceb;
    text-decoration: none;
}

.projects-page-card .projects-page-card-body {
    background-color: #6e6658;
}

.projects-page-card-body h6 {
    font-size: 16px;
}

.project-description {
    padding-left: 20px;
}

.project-description p {
    font-size: 14px;
}

.github-button {
    padding: 10px 20px;
    background-color: #4f4a41;
    color: #eefceb;
    border: 1px solid #4f4a41;
    border-radius: 5px;
    cursor: pointer;
}

.demo-button {
    padding: 10px 20px;
    background-color: #4f4a41;
    color: #eefceb;
    border: 1px solid #4f4a41;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 1.25rem;
}